html {
    min-height: 100%;
    position: relative;
    line-height: 1.15;
}

body {
    margin: 0;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

.inte-header {
    width: 100%;
    height: 5rem;
    background-color: #2e87e6;
    color: antiquewhite;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    overflow: hidden;
    height: 2rem;
    background-color: #2e87e6;
    color: #FFF;
}

.Submitbtn {
    width: 60%;
    margin: 1.5rem auto;
}